/* Responsive Design*/
@media only screen and (max-width: 768px) {
    h1,h2,h3,h4, {
      font-size:25px;
    }
  
    h5 {
      font-size:14px;
    }
    
    .section-aligner{
        padding-top:50px !important;
    }

    .mobile-text-shrink {
      font-size:25px;
      padding-top: 25px;
      text-align: center !important;
    }

    .navbar {
      display:none;
    }

    .slide-right {
      text-align:right !important;
    }

    .nav-list {
      font-size:9px !important;
    }
  
    li {
      padding-left:15px !important;
    }
    
    .site-title {
      width: 20% !important;
    }

    .mobile-header {
      display:none !important;
    }

    .spacer {
      padding-top:90px !important;
    }
  
  }

/* For the Cool Peeps Using Google Chrome */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #591D95;
  border-radius:7px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(101, 51, 151); 
}
  
/* Container Override for P */
  @media only screen and (max-width: 600px) {
    .work-spacer {
      padding-top:55px !important;
    }
  }
  @media (max-width: 768px) {
    .container-small {
        width: 400px;
    }

    .container-large {
      width:800px
    }
} 

  @media (min-width: 768px) {
   .container-small {
     width: 600px;
   }

   .container-large {
    width:1000px
  }
}

  @media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }

    .container-large {
      width:1440px
    }
}

.container-small, .container-large {
  max-width: 100%;
}
  
/* Universal Styles */
  html {
    /* optimize font rendering */
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    /* set base font size to 16px */
    font-size: 100%; 
    margin:0;
    padding:0; 
    font-family: 'Ubuntu', 'sans-serif';
  }
  
  body {
    margin:0;
    color:#5C5C61;
  }
  
  .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }

  .overlay-hover:hover {
    color:#ff7f00;
    transition:0.3s;
  }
  
  figure {
    text-align:center;
    font-style:italic;
  }

  /* Scroll Indicator */

  .progress-container {
    width: 10%;
    height: 5px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 5px;
    background: #591D95;
    width: 0%;
  }
  
  /* Underline Reveal */
  .hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff7f00;
    height: 4px;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  /* Strike */
  @keyframes strike{
    0%     { transform-origin:  0% 50%;transform:scaleX(0); }
    50%    { transform-origin:  0% 50%;transform:scaleX(1);  }
    50.01% { transform-origin:100% 50%;transform:scaleX(1);  }
    100%   { transform-origin:100% 50%;transform:scaleX(0);  }
  }
  .strike {
    position: relative;
    -webkit-animation:all 0.7s ease;
  }
  .strike:hover:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(50, 50, 50);
    animation: strike .40s ease-in-out forwards;
  }


  /* Override Bootstrap a */
  a.color-link {
    color:rgb(50, 50, 50);
    text-decoration:none;
    -webkit-transition:all 0.7s ease
  }
  
  a.nav-link {
    color:#5C5C61;
    -webkit-transition:all 0.7s ease
  }
  
  a.orange-text {
    color:#ff7f00;
    text-decoration:none
  }
  
  a.link-vivovii:hover {
    color:#ff6338;
    text-decoration: none;
    -webkit-transition:all 0.7s ease
  }
  /* Format Styles */
  .section-aligner {
    padding-top:112px;
  }

  /* Text Styles */

  p {
    font-size:20px;
    font-weight:400;
  }

  .section-title {
    font-size:20px;
    font-weight:500; 
    padding-top:15px;
    color:rgb(50, 50, 50);
  }

  .section-sub-title {
    font-size:28px;
    font-weight:500;
    color:rgb(50, 50, 50);
  }

  .sprint-title {
    color:#591D95;
    font-size:30px;
    font-weight:700;
    padding:10px;
  }

  .work-title {
    font-size:50px;
    font-weight:800;
  }

  .work-motto {
    font-size:27px;
    font-weight:500;
  }

  .opaque-title {
    font-weight:800;
    text-align: center;
    font-size: 80px;
    color:#fff;
    text-shadow:1px 1px 10px #f4f4f4, 1px 1px 10px rgb(218, 218, 218);
  }

/*     Navbar      */
#global-nav {
  position: fixed;
  top: 0;
  z-index:100000000 ;
  height: 100px;
  width: 100%;
  color: rgb(50, 50, 50);
  line-height: 100px;
    -webkit-transition: height .5s ease, line-height .5s ease; /* Safari */
    transition: height .5s ease, line-height .5s ease;
}

.site-title {
  display: inline-block;
  -webkit-transition: all .4s;
    transition: all .4s;
  width:50%;
}

.site-title:hover {
  opacity:0.6;
}

.scrolled-nav .site-title {
  width:30%;
}

.nav-list {
  list-style: none;
  font-size:20px;
}

li {
  list-style: none;
  display: inline-block;
  padding-left: 40px;
  font-weight:600;
}

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
  background-color:rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 5px 10px -5px #999;
  -moz-box-shadow: 0 5px 10px -5px #999;
  box-shadow: 0 5px 10px -5px #999;
}

/*     Navbar      */
  
  /* Home Section */
  
 .spacer {
    padding-top: 60px;
    padding-bottom: 60px;
 }

 .side-gutter {
   padding-left:15px;
   padding-right:15px;
 }

 .bottom-spacer {
  padding-bottom: 60px;
}
  /* Scroll Effect */
  .fadein {
    opacity:0;
  }
  /* Scroll Effect */
  
  .work-spacer {
    padding-top:150px;
  }
  
  .vivovii-pics {
    width:100%;
    height:auto 0;
  }

  .persona-pic {
    width:30%;
    height:auto 0;

  }

/* Ending Screen */

  .mackenzie-right-float {
    float:right;
    width:30%;
    margin-bottom:-450px;
    position:relative;
  }

  .mackenzie-left-float {
    float:left;
    width:30%;
    margin-top:-450px;
    position:relative;
  }

  /* Responsive Section for Sprint 4: Reflection */
  @media only screen and (max-width: 768px) {
    .mackenzie-right-float {
      display:none;
    }

    .mackenzie-left-float {
      display:none;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .container-fluid  .row  .container-small {
      width:400px;
    }
  }
  
  .contact-title {
    letter-spacing:3px;
    color:#591D95;
    padding-top:20px;
    padding-bottom:20px;
    font-weight:bold;
    font-size:18px;
    text-transform:uppercase;
  }
  
  .btn {
    background-color:#591D95;
    border:none;
    padding:15px 30px;
    margin: 20px 40px;
    border-radius:30px;
  }

  .btn:hover {
    transform:translatey(-10px);
    box-shadow:0 20px 15px -15px rgb(143, 143, 143);
    background-color:rgb(103, 59, 146);
  }

  .btn-primary {
    letter-spacing:1px;
    font-weight:500;
    text-transform:uppercase;
    will-change: box-shadow, transform;
    transition: all 0.2s
    cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  


  /* Next Feature */

  .size-reduce {
    width:50%;
    height:auto 0;
    align-items:center;
  }
  
  .background-deco {
    background-color:#f4f4f4;
    width:100%;
    height:auto 0;
  }

  .next-spacer {
    padding-top:10px;
    padding-bottom:10px;
  } 
  
  .slide-right {
    text-align:right;
  }

  .vivovii-back {
    -webkit-transition:all 0.7s ease
  }

  .vivovii-back:hover {
    transition:0.9s;
    background-color: #ffc4b4;
  }

  .behance-back {
    -webkit-transition:all 0.7s ease
  }

  .behance-back:hover {
    transition:0.9s;
    background-color: rgb(191, 215, 255);
  }

  .arrow {
    text-transform:uppercase;
    font-size:14px;
  }

  .footer-nav > a:first-child {
    text-align:left;
  }

  .footer-nav > a:last-child {
    text-align:right;
  }

  /* Universal Footer */
  
  .social-links {
    display:inline;
    margin-left:80px;
  }
  
  .social-links ul li {
    list-style:none;
  }
  
  .copyright-section {
    color:rgb(161, 161, 161);
    line-height:16px;
  }
  
  .social-list {
    margin-left:30px;
    list-style:none;
  }

 .resize-for-pages {
   font-size:16px;
 }
