/* Universal Styles */
html {
  /* optimize font rendering */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "sans-serif";
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #292929;
  cursor: none;
}
.no-gutter > [class*="container"] {
  padding-right: 0;
  padding-left: 0;
}
.overlay-hover:hover {
  color: #ff7f00;
  transition: 0.3s;
}
.img-fluid {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 12px;
  object-fit: cover;
}
.newCursor {
  position: fixed;
  border: 2px solid #f6a308;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.2s linear, height 0.2s linear;
  z-index: 999;
}
::selection {
  color: #fcfcfc;
  background: rgba(255, 128, 0, 0.534);
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* Override default a */
a {
  cursor: none;
}
img {
  cursor: none;
}
a.color-link {
  color: rgb(50, 50, 50);
  text-decoration: none;
}
a.orange-text {
  color: #ff7f00;
  text-decoration: none;
}
a.link-layup:hover {
  color: #F26161;
  text-decoration: none;
}
a.link-perspect:hover {
  color: #56B1BF;
  text-decoration: none;
}
a.link-questrade:hover {
  color: #328636;
  text-decoration: none;
}
a.link-valeyo:hover {
  color: #019583;
  text-decoration: none;
}
a.link-perseus:hover {
  color: #081338;
  text-decoration: none;
}

/*     Navbar      */
.link {
  display: inline-block;
  margin: 8px 20px;
  font-weight: 600;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navBarContainer {
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  position: fixed;
  top: 2%;
  right: 2%;
  left: 2%;
  background: white;
  z-index: 1;
  border-radius: 32px;
  border: solid 1px rgb(154, 154, 154);
  width: 96%;
  height: 52px;
  padding: 0px 40px;
  transition: all 0.3s ease;
  -webkit-transition: height 0.5s ease, line-height 0.5s ease; /* Safari */
  transition: box-shadow 0.5s ease, background 0.5s ease;
}
#navBarMobContainer {
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  position: fixed;
  top: 1%;
  right: 2%;
  left: 2%;
  background: white;
  z-index: 1;
  border-radius: 32px;
  border: solid 1px rgb(154, 154, 154);
  width: 96%;
  height: 52px;
  padding: 0px 24px;
  transition: all 0.3s ease;
  -webkit-transition: height 0.5s ease, line-height 0.5s ease; /* Safari */
  transition: box-shadow 0.5s ease, background 0.5s ease;
}

.navBarLeft {
  display: flex;
  align-items: center;
  letter-spacing: -1;
  p, h4 {
    margin-bottom: 0px;
    transition: all 0.3s ease;
    border-radius: 12px;
  }
  p {
    font-weight: 600;
    padding: 4px 16px;
  }
  p:hover {
    background-color: #f4f4f4;
  }
  h4 {
    padding-right: 24px;
  }
}
.navBarMiddle {
  display: flex;
  padding: 12px 0px;
  padding-right: 8%;
  transition: all 0.3s ease;
}
.navBarMiddle:hover {
  opacity: 0.5;
}
.middleImg {
  width: 24px;
  height: auto;
}
.navBarRight {
  display: flex;
  align-items: center;
  letter-spacing: -1;
  gap: 16px;
  p {
    margin-bottom: 0px;
    transition: all 0.3s ease;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: 600;
  }
  p:hover {
    background-color: #f4f4f4;
  }
}
.navBarMenu {
  display: block;
  align-content: center;
  transition: all 0.3s ease;
}
.navBarMenu:active {
  background-color: #fabd80;
}
.dropbtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
.dropbtn a {
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: auto;
  z-index: 1;
  transition: all 0.3s ease;
}
.dropdown-content a {
  color: black;
  padding: 8px 6px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:nth-child(1) {
  padding: 14px 6px 8px 6px;
}
.arrowHover {
  padding-left: 4px;
  transition: all 0.3s ease;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .arrowHover {transform: scaleY(-1)}

/*     Navbar      */
.link-layup {
  color: #F26161;
}
.link-perspect {
  color: #08708A;
}
.link-questrade {
  color:#328636;
}
.link-valeyo {
  color:#019583;
}
.link-perseus {
  color:#081338;
}
/* Work Arrow */
.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
.behance-thumbnail {
  border-radius: 999px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
}

/* Text */
p {
  font-size: 16px;
  line-height: 1.8rem;
  letter-spacing: normal;
}
h6 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1rem;
}
h4 {
  font-size: 20px;
  margin-bottom: 24px;
  color: #323232;
  letter-spacing: -1px;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -1px;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}
h1 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing:-2px;
}
q {
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0.7em 0;
  color: rgb(195, 195, 195);
}
sup {
  font-size: 60%;
  top: -1.1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
b {
  font-weight: 600;
}
.h7 {
  font-size: 12px;
}
mark {
  padding: 0;
  line-height: 1.3;
  background-color:rgb(255, 249, 164);
}
.quoteContainer {
  background-color: #faf7f5;
  border-radius: 16px;
  display: grid;
  flex: none;
  gap: 24px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-template-rows: repeat(2, min-content);
  height: min-content;
  justify-content: start;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 100%;
}
.quoteText {
  border-bottom-width: 0px;
  border-color: #9f9f9f;
  border-left-width: 2px;
  border-right-width: 0px;
  border-style: solid;
  border-top-width: 0px;
  padding-left: 16px;
  font-style: italic;
}
.quoteContainer h4 {
  margin-bottom: 0px;
}
.imgAndTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* Text */

#confine {
  padding-right: 1rem;
  padding-left: 1rem;
}
.aboutMeRow {
  display: flex;
}
.aboutMe {
  border: 1px solid #f4f4f4;
  padding: 24px;
  margin: 0 0px 40px 0px;
  border-radius: 12px;
}
.aboutMe p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: normal;
}
.aboutMe .col-md-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recentItemsContainer {
  position: absolute;
  padding: 0px 16px;
  bottom: 0;
  left: 0;
}
.recentItemsContainer p:nth-child(3) {
  margin-bottom: 0px;
}
.socialIconRow {
  padding-top: 16px;
}
.socialIconRow a {
  transition: all 0.3s ease-in-out;
}
.socialIconRow a:hover{
  opacity: 0.5;
}
.socialIconRow img {
  padding-right: 16px;
}

.alignContainer {
  display: block;
  height: 500px;
}
.alignContainerTop {
  align-content: center;
}

.alignContainerBot {
  align-content: end;
}
#about h3 {
  color: #868686;
  letter-spacing: -1px;
  font-size: 24px;
  margin-bottom: 32px;
  margin-top: 0px;
}
.Home {
  padding-top: 8rem;
}
.hello-mob {
  display: flex;
  justify-content: end;
}
.container .hello {
  height: 100%;
  border-radius: 999%;
}
#head-nav .container h3 {
  color: #323232;
  padding-left: 10px;
  padding-top: 0px;
  display: inline-flex;
}
.name {
  margin-top: -20px;
  color: #323232;
  padding-bottom: 15px;
}
#head-nav .container p {
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.work-thumbnail {
  position: relative;
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 31px -9px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 31px -9px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 0px 31px -9px rgba(0, 0, 0, 0.74);
}
.top-text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 3%;
  top: 6%;
  right: 55%;
  text-align: left;
  font-size: 16px;
}
.bottom-text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 3%;
  right: 60%;
  bottom: 12%;
  text-align: left;
  font-size: 16px;
}
.thumbnail-subtitle {
  color:#8f8f8f;
  font-weight: 600;
  font-size: 16px;
}
.thumbnail-title {
  color:#ffffff;
  font-weight: 600;
  font-size: 24px;
}
.project-row {
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 32px;
  width: 100%;
  background-color: rgb(22, 22, 22);
  border-radius: 12px;
}
.project-blurb {
  background-color: #fff;
  padding: 1em 2em;
  overflow: hidden;
  -webkit-box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.3);
  height: auto;
  margin-top: -10em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.project-text-link {
  display: inline-block;
  overflow: visible;
}
.project-text-link .project-blurb h2,
.project-content-text {
  color: #323232;
}
.light-orange .fa-long-arrow-right {
  color: #F16F6F;
}
.light-orange h5 {
  color: #F16F6F;
}
.green .fa-long-arrow-right {
  color: #34a853;
}
.green h5 {
  color: #34a853;
}
.orange .fa-long-arrow-right {
  color: #ff6338;
}
.orange h5 {
  color: #ff6338;
}
.teal .fa-long-arrow-right {
  color:#56B1BF;
}
.teal h5 {
  color:#56B1BF;
}
.dark-green .fa-long-arrow-right {
  color:#328636;
}
.dark-green h5 {
  color:#328636;
}
.project-blurb.light-orange:hover {
  background-color: #F16F6F;
}
.project-blurb.green:hover {
  background-color: #34a853;
}
.project-blurb.orange:hover {
  background-color: #ff6338;
}
.project-blurb.teal:hover {
  background-color: #56B1BF;
}
.project-blurb.dark-green:hover {
  background-color: #328636;
}
.project-blurb:hover .fa-long-arrow-right {
  color: #fafafa;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb:hover .project-content-text {
  color: #fafafa;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb:hover h5 {
  color: #fafafa;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb:hover h2 {
  color: #fafafa;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#test .back-side-projects {
  background: #f4f4f4;
  width: 100%;
  height: auto;
}
#side {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#side h3 {
  color: #868686;
  letter-spacing: -1px;
  font-size: 24px;
  margin-bottom: 32px;
  margin-top: 0px;
}
#side h4 {
  margin-bottom: 8px;
  letter-spacing: -1px;
  font-size: 24px;
  color: #323232;
}
#side p {
  margin-bottom: 0px !important;
  padding-bottom: 16px;
  color: #6D6D6D;
}
.side-link-title {
  color: #323232;
  font-weight: 600;
  font-size: 16px;
}
.hideIcon {
  display: none;
}
.displayIcon:hover .hideIcon {
  display: inline-block;
  margin-left: 8px;
}
.tag {
  background-color:#363636;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  color:#d6d6d6;
  display: inline-block;
}
.tag-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  margin-right: 4px;
  background: #099541;
}
.project-blurb.dark-green:hover .button-back-questrade {
  background-color:#ffffff34;
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb.teal:hover .button-back-perspect {
  background-color:#ffffff34;
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb.light-orange:hover .button-back-layup {
  background-color:#ffffff34;
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project-blurb.green:hover .button-back-google {
  background-color:#ffffff34;
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download-bt{
  margin: 2rem 0rem;
  display: flex;  
}
.download-button {
  background-color: white; 
  color: #F26161; 
  border: 2px solid #f2616162;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.download-button:hover {
  text-decoration: none;
  color: #F26161;
  border: 2px solid #f26161ea;
}
.gaDownloadContainer {
  background-color: #f4f4f4;
  padding: 24px;
  border-radius: 12px;
}
.gaDownloadContainer h4 {
  margin-bottom: 8px;
}
.gaDownloadContainer .download-bt {
  margin: 0px;
  display: flex;  
}
.gaDownloadContainer .download-button {
  background-color: #019583; 
  color: #ffffff; 
  padding: 8px 16px;
  margin: 0px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gaDownloadContainer .download-button:hover {
  opacity: 50%;
}
hr {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* Hover Effect 1 */
.hover-effect {
  position: relative;
  transition: 800ms;
  text-decoration: none;
}
.hover-effect:after {
  content: attr(data-hover);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotateX(150deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transition: 300ms;
  opacity: 0;
  color: rgba(50, 50, 50, 0.9);
  height: 0;
}
.hover-effect:hover:after {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  top: -2.5px;
  opacity: 1;
  height: 100%;
}
.hover-effect:hover {
  color: transparent !important;
}
#image {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  background-color: red;
  pointer-events: none;
}
/* Hover Effect 1 */

/* Button */
.btn {
  background-color: #34a853;
  border: none;
  padding: 15px 30px;
  margin: 20px 40px;
  border-radius: 30px;
}
.btn:hover {
  transform: translatey(-10px);
  box-shadow: 0 20px 15px -15px rgb(143, 143, 143);
  background-color: rgba(52, 168, 83, 0.726);
}
.btn-primary {
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  will-change: box-shadow, transform;
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.button-center {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Button */

/* Work */
.heroImg {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: 0% 40%;
}
.introTitle {
  margin: 60px 0px 60px 0px;
}
.introDetails {
  margin: 16px 0px 60px 0px;
}
.introDetails h5 {
  font-weight: 400;
}
.introDetails p {
  font-weight: 600;
  margin-bottom: 0px;
}
#workNavigation {
  width: 100%;
  height: auto;
  position: sticky;
  top: 12%;
}
#workNavigation ul{
  list-style-type: none;
  padding-left: 0px;
}
#workNavigation ul li{
  font-weight: 600;
  padding-top: 8px;
}
#overviewValeyo {
  margin-bottom: 44px;
}
#researchValeyo {
  margin-bottom: 44px;
}
:target {
  scroll-margin-top: 4rem;
}
#learningValeyo .spacer {
  margin-bottom: 48px;
}
.chip {
  display: flex;
  padding: 12px 16px;
  height: fit-content;
  width: fit-content;
  border-radius: 12px;
  background-color: #f4f4f4;
  margin-bottom: 8px;
}
.chip p {
  line-height: normal;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -1;
  margin-bottom: 0px;
}
.chipNumber{
  color:#019583;
  font-weight: 700;
  padding-right: 16px;
  font-size: 1.2rem;
}
.chipNumberQuestrade{
  color:#328636;
  font-weight: 700;
  padding-right: 16px;
  font-size: 1.2rem;
}
#work-header {
  background-color: #ff63386e;
}
#work-header .work-title {
  padding-top: 10rem;
  text-align: center;
  color: #323232;
}
#work-header .sub-title {
  text-align: center;
  font-weight: 600;
  color: #323232;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}
.workSelected {
  transition: all 0.3s ease;
  color:#ff7f00;
}
.sub-title p {
  font-size: 1.1rem;
}
#layup-header {
  background-color: #f2616191;
}
#layup-header .work-title {
  padding-top: 10rem;
  text-align: center;
  color: #323232;
}
#layup-header .sub-title {
  text-align: center;
  font-weight: 600;
  color: #323232;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}
#perspect-header {
  background-color: #9ceaf7;
}
#perspect-header .work-title {
  padding-top: 10rem;
  text-align: center;
  color: #323232;
}
#perspect-header .sub-title {
  text-align: center;
  font-weight: 600;
  color: #323232;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}
#questrade-header .work-title {
  padding-top: 10rem;
  text-align: center;
  color: #323232;
}
#questrade-header .sub-title {
  text-align: center;
  font-weight: 600;
  color: #323232;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}
.logo-lg img {
  width: 25%;
}
.logo-lg h6,
.logo-lg p {
  text-align: center;
  margin: 1em 0;
}
.row .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5rem;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
#sum {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
}
#sum p {
  line-height: 2rem;
  margin-bottom: 1.5em;
}
.project-intro {
  padding-top: 8em;
  padding-bottom: 2em;
}
.project-body {
  padding-top: 3em;
  padding-bottom: 3em;
}
.project-body .col-md-9 {
  display: block;
}
.project-body h5 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #ff6338;
}
.project-body .sub-title-layup {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #F16F6F;
}
.project-body .sub-title-perspect {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #56B1BF;
}
.project-body .sub-title-questrade {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #328636;
}
.project-body h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  letter-spacing: -1px;
}
#intro-back {
  background-color: #f4f4f4;
}
.caption {
  display: block;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: left;
  color:#535353;
}
.project-feature {
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.project-feature h4 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.project-feature h3 {
  padding: 0.6em 0;
}
.project-feature .project-number {
  font-size: 30px;
  position: relative;
  padding-top: 10px;
  color: #ff6338;
  font-style: italic;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
}
.project-feature .project-number:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background: #ff6338;
}
.pull-right {
  text-align: right;
}
.underline {
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.underline:hover {
  border-bottom: 2px solid #ff6338;
  opacity: 0.6;
}
.underline-orange {
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.underline-orange:hover {
  border-bottom: 2px solid #ff7f00;
  opacity: 0.6;
}
.row .pull-right span {
  color: #ff6338;
}
.remover .row {
  flex-wrap: nowrap;
}
.framework {
  padding: 2em 0;
}
.list {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-top: 0;
}
.list li {
  margin: 0.5em 0;
  line-height: 1.4em;
}
.spacer {
  margin-top: 40px;
  margin-bottom: 60px;
}
.persona-pic {
  width:30%;
  height:auto 0;
}
.perspect-border {
  border-style:solid;
  padding: 2rem;
  border-color:#56B1BF;
  background-color: white;
  box-shadow: 0 3px 8px 3px rgb(0 0 0 / 15%);
}
.questrade-border {
  border-style:solid;
  padding: 0rem 2rem;
  border-color:#328636;
  background-color: white;
  box-shadow: 0 3px 8px 3px rgb(0 0 0 / 15%);
}
.workRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.iconRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px 60px -16px;
}
.iconBox {
  padding: 24px;
  background-color: #f7f4f2;
  border-radius: 8px;
  height: 100%;
}
.iconBoxQuest {
  padding: 24px;
  background-color: #f7f4f2;
  border-radius: 8px;
  height: 100%;
}
.iconBoxQuest p {
  margin-bottom: 0px;
}
.iconBoxQuest img {
  padding-bottom: 24px;
}
.iconBox h4 {
  color:#019583;
  font-size: 32px;
}
.iconBoxQuest h4 {
  color:#328636;
  font-size: 32px;
}
.iconBox p {
  margin-bottom: 0px;
}
.iconBox img {
  padding-bottom: 24px;
}
#challengeValeyo {
  padding-top: 70px;
  margin-top: -70px;
}
#challengeValeyo .challengeText:nth-of-type(-n+2) {
  margin-bottom: 24px;
}
.challengeText {
  background-color: #f7f4f2;
  padding: 24px;
  border-radius: 12px;
}
.challengeText h3 {
  color:#019583;
  font-size: 32px;
}
.challengeText p {
  margin-bottom: 0px;
}
#challengeQuestrade {
  padding-top: 70px;
  margin-top: -70px;
}
#challengeQuestrade .challengeTextQuestrade:nth-of-type(-n+2) {
  margin-bottom: 24px;
}
.challengeTextQuestrade {
  background-color: #f7f4f2;
  padding: 24px;
  border-radius: 12px;
}
.challengeTextQuestrade h3 {
  color:#328636;
  font-size: 32px;
}
.challengeTextQuestrade p {
  margin-bottom: 0px;
}
.researchImg {
  margin: 0px 0px 0px 0px;
}
.researchImg p{
  margin-top: 40px;
}
.insightStart p {
  margin-top: 24px;
}
.newInfo {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.dotOrganize {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #019583;
  border-radius: 50%;
  display: flex;
}
.newInfo p {
  margin-bottom: 0px;
}
.work-title {
  font-weight: 500;
  letter-spacing: -1px;
}

/* Universal Footer */
.social-links {
  display: inline;
  margin-left: 80px;
}
.social-links ul li {
  list-style: none;
}
#footer {
  place-content: flex-start space-between;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  height: min-content;
  max-width: 1400px;
  overflow: visible;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}
#confine-about hr {
  color:black;
}
.social-list {
  margin-left: 30px;
  list-style: none;
}
.resize-for-pages {
  font-size: 16px;
}
/* Next Feature */
.size-reduce {
  width: 50%;
  height: auto 0;
  align-items: center;
}
.next-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.slide-right {
  text-align: right;
}
.valeyo-back {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.valeyo-back:hover {
  transition: 0.9s;
  background-color: #61beb3a1;
}
.vivovii-back {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.vivovii-back:hover {
  transition: 0.9s;
  background-color: #fdcfa0;
}
.perspect-back {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.perspect-back:hover {
  transition: 0.9s;
  background-color: #9CEAF7;
}
.questrade-back {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.questrade-back:hover {
  transition: 0.9s;
  background-color: #bcffbf;
}
.layup-back {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.layup-back:hover {
  transition: 0.9s;
  background-color: #f39d9d;
}
.google-next {
  transition: 0.7s;
  -webkit-transition: all 0.7s ease;
}
.google-next:hover {
  transition: 0.9s;
  background-color: #54e27a9c;
}
.section-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 15px;
  color: rgb(50, 50, 50);
}
.arrow {
  text-transform: uppercase;
  font-size: 14px;
}
.footer-nav > a:first-child {
  text-align: left;
}
.footer-nav > a:last-child {
  text-align: right;
}

/* Scroll Effect */
.fadein {
  opacity: 0;
  transform: translateY(0px);
  -webkit-transition: 0.8s; /* Safari */
  transition: 0.8s;
}
/* Scroll Effect */

/*Desktops/Laptops*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) {
  /* Pushes picture left a bit */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  /*
  .col-lg-6 {
    flex-basis: 43%;
    max-width: 43%;
  }
  */
  .col-lg-offset-2dot5 {
    margin-left: 20.83333333%;
  }
  .col-lg-offset-1dot5 {
    margin-left: 8.5%;
  }
  .mobile-view {
    display: none;
  }
  #navBarMobContainer {
    display: none;
  }
  .modal {
    visibility: hidden;
  }
}

/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 992px) {
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 100%;
    max-width: 100%;
  }
  h4 {
    font-size: 1.2rem;
  }
  .hello-mob {
    margin-top: 48px;
    justify-content: left;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .tag {
    display: none;
  }
  .top-text-container h3 {
    font-size: 16px;
  }
  .top-text-container .thumbnail-title {
    font-size: 20px;
    line-height: 1.4;
  }
  .mobile-view {
    display: none;
  }
  .aboutMe .col-md-4{
    flex-basis: 50%;
    max-width: 50%;
  }
  .aboutMe .col-md-8{
    flex-basis: 50%;
    max-width: 50%;
  }
  #navBarMobContainer {
    display: none;
  }
  .modal {
    visibility: hidden;
  }
}

/* Phone */
@media screen and (max-width: 500px) {
  #navBarContainer {
    display: none;
  }
  .menu_bar {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
  .Home .name {
    font-size: 3.5em;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2em;
  }
  .hello-mob {
    margin-top: 48px;
    justify-content: left;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view h3 {
    font-size: 16px;
  }
  .mobile-view .thumbnail-title {
    font-size: 20px;
    line-height: 1.1;
  }
  .top-text-container {
    left: 4%;
    top: 2%;
    right: 4%;
  }
  #side .displayIcon:nth-child(-n+2) {
    padding-bottom: 36px;
  }
  #workNavigation {
    display: none;
  }
  .introDetails div:nth-child(-n+3) {
    padding-bottom: 16px;
  }
  .iconRow {
    gap: 24px;
  }
  .recentItemsContainer {
    display: block;
    position: relative;
    padding: 24px 0px; 
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 44vh;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 24px;
    border: 1px solid #888;
    width: 88%;
    height: 288px;
    flex-direction: column;
  }
  .modalTopName {
    display: flex;
    height: 20%;
    overflow: hidden;
    gap: 8px;
    justify-content: space-between;
  }
  .modalTopName a {
    display: flex;
  }
  .modalTopName img {
    align-self: center;
    width: 48px;
    height: 48px;
  }
  .modalName {
    align-content: center;
    flex: 0 1 80%;
    h4 {
      margin-bottom: 4px;
      font-size: 20px;
    }
    p {
      margin-bottom: 0px;
      font-size: 10px;
      color:#bababa;
      line-height: normal;
    }
  }
  /* The Close Button */
  .closeButton {
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
  }
  .closeButton:hover,
  .closeButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modalMiddleLinks {
    display:flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    h4 {
      font-size: 16px;
      margin-bottom: 8px;
    }
    p {
      font-size: 10px;
      line-height: normal;
      margin-bottom: 4px;
    }
  }
  .modalMiddleProjects {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

  }
  .copyRightMessage {
    padding-top: 24px;
  }
  .modalLinks {
    height: 10%;
    display: flex;
    align-items: end;
    a {
      font-size: 12px;
    }
    .downloadResume {
      color:#afafaf;
      border-bottom:solid 1px #404040;
    }
  }
  .socialIconRowMobile {
    margin-left: auto;
  }
}
